html{
  height: 100%;
}
body{
  height: 100%;
}
.contant{
  width: 100%;
  height: 100%;
  background-color: yellow;
}
.header{
  height: 15%;
  width: 100%;
  background-color: pink;
}
#header-img{
  height: 100%;
  width: 33%;
  float: left;
  background-color: red;
}
#header-img img{
  padding-left: 20px;
  padding-top: 20px;
}
#title{
  height: 100%;
  width: 33%;
  float: left;
  background-color: blue;
}
#title h1{
  text-align: center;
  color: yellow;
}
#header-img2{
  height: 100%;
  width: 34%;
  float: left;
  background-color: green;
}
#header-img2 img{
  padding-left: 20px;
  padding-top: 20px;
}
.second{
  width: 100%;
  height: 35%;
  background-color: black;

}
.leftbox{
  float: left;
  width: 50%;
  height: 100%;
  background-color: gray;
}
.bluebox{
  height: 80%;
  width: 80%;
  background-color: blue;
  margin-left: 20px;
  margin-top: 20px;
}

.right1{
  width: 80%;
  height:30px;
  background-color: green;
  margin-left: 20px;
  margin-top: 30px;
}
.mainbox{
  width: 100%;
  height:45%;
  background-color: red;
}
.main-img{
  width: 50%;
  height: 100%;
  float: left;
}
.main-img img{
  height: 100px;
  margin-left: 30px;
  margin-top: 30px;
}
.main-right{
  width: 50%;
  height: 100%;
  float: left;
}
.footer{
  width: 100%;
  height:10%;
  background-color: green;
  float: left;
}
.footer p{
  text-align: center;
}

/*mediaquery*/
@media only screen and (max-width: 500px) {

  .footer p{
    text-align: center;
    color: red;
  }
}
