.conport{
  height: 100%;
  width: 100%;
}
.header{
  background-color: red;
  height: 80px;
}
.logo{
  float: left;
  width: 40%;
}
.logo img{
  margin-left: 10px;
  margin-top: 10px;
}
.title{
  float: left;
  width: 60%;
}
.title h1{
    text-align: center;
}

.navber{
  background-color: green;
  height: 50px;
  width: 100%;
}
.navber ul{
  font-size: 0px;
}
.navber li{
  width: 25%;
  text-align: center;
  display: inline-block;
  font-size: 24px;
}
.contant{
  height: 600px;
}
.left-sideber{
  float: left;
  width: 20%;
  height: auto;
}
.main-contant{
  float: left;
  width: 50%;
  height: 600px;
  background-color: pink;
}
.right-sideber{
  float: left;
  width: 30%;
  height: auto;
}
.right-sideber img{
  margin-top: 10px;
  margin-left: 40px;
}
.product{
  background-color: pink;
  width: 100%;
  height: 300px;
}
.brand{
  background-color: orange;
  width: 100%;
  height: 300px;
}
.img1{
  background-color: gray;
  height: 200px;
  width: 100%;
}
.img2{
  background-color: green;
  height: 200px;
  width: 100%;
}
.img3{
  background-color: yellow;
  height: 200px;
  width: 100%;
}
.footer{
  background-color: red;
  height: 50px;
  width: 100%;
}
.footer p{
  text-align: center;
  font-size: 14px;
}
h4{
  margin: 0;
}
